body {background-color: #F44336; font-family: verdana;}
h1 {color: #FFEE58; font-size: xxlarge; text-decoration: underline; text-align: center;}
h2 {color: #CDDC39; font-size: x-large;text-align: left;}
ul {color: #3E2723; font-size:  large; text-align: left;}
ol {color: #424242; font-size:  large; text-align: justify;}
p {color: #004D40; font-size:  large; text-align: justify;}
img {width: 800px; height: auto;}
