body {
  background-color: #E6EE9C;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: century gothic;
}

  h1 {color: #F48FB1; font-size: 2rem; text-decoration: underline;}
  .receta {
    text-align: center;
    font-family: "titulosh1"; }
  h2 {color: #CDDC39; font-size: 1rem;text-align: left;}
  ul {color: #3E2723; font-size:  1rem; text-align: left; font-family: 'Fasthand', cursive;}
  ol {color: #424242; font-size:  1em; text-align: justify;font-family: 'Fasthand', cursive;}
  p {color: #212121; font-size: 1em; text-align: justify; font-family: 'Raleway', sans-serif;}
  img {width: 25%; height: 20%;}

@media (min-width:767px) {.aviso
  {display: none;}
  }

@media (min-width: 992px) {.imagen2
  {display: none;}

}
  @font-face {
    font-family: "titulosh1"; src: url("../fuentes/RamadhanMubarak.ttf");
  format: "truetype";
  }

  @font-face {
    font-family: "tituloprincipal"; src: url("../fuentes/Gamaleon.ttf");
  format: "truetype";
  }

  header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        background-color: #CDDC39}

.logo {
        width: 10%;
        height: 10%;
        margin: 10px;
  }

.titulo {
          text-align: center;
          font-size: 3rem;
          margin: 10px;
          font-family: "tituloprincipal";}

.rrss{
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.iconos img {
  width: 90px;
  height: 90px;
  }

      nav {display: flex;
          justify-content: space-around;
          align-items: center;
          width: 1340px;
          height: 5vw;
          background-color:#DCE775;
      }

      .icono {
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 25px
      }
      .icono:hover {
        transform: scale(1.1);
        transition: 0.3s
      }
      .icono img {
        width: 100px;
        height: 100px;
        }

.andalucia {
  width: 25%;
  height: 40%;
}

.video {
  width: 25%;
  height: 40%;
}
    footer {
      display: flex;
      flex-wrap: wrap;
      background-color:#DCE775;
      justify-content: space-around;
      align-items: center;
      height: 20%;
    }

.barrio {
        height: 15%;
        width: 30%;
        }
.contacto {
    font-size: 1rem;
}

@media (max-width: 767px) {body
  {background-color: #F8C471}

}

@media (min-width: 768px) {body
  {background-color: #D2B4DE }

}

@media (min-width: 992px) {body
  {background-color: #E6EE9C }

}
.card-img-top {
  width: 100%;
  height: 100%;
}
