body {
  background-color: #F44336;
  background-color: #E6EE9C;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: century gothic;}
  h1 {color: #F48FB1; font-size: 2rem; text-decoration: underline;}
  .receta {
    text-align: center;
  }
  h2 {color: #CDDC39; font-size: 1rem;text-align: left;}
  ul {color: #3E2723; font-size:  1rem; text-align: left;}
  ol {color: #424242; font-size:  1em; text-align: justify;}
  p {color: #004D40; font-size: 1em; text-align: justify;}
  img {width: 25%; height: 20%;}

  header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 20vh;
        background-color: #CDDC39}

.logo {
        width: 10%;
        height: 10%;
        margin: 10px;
  }

.titulo {
          text-align: center;
          font-size: 3rem;
          margin: 10px;
}

.rrss{
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.iconos img {
  width: 80px;
  height: 80px;
  }

      nav {display: flex;
          justify-content: space-around;
          align-items: center;
          width: 1340px;
          height: 5vw;
          background-color:#DCE775;
      }



      .icono {
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 25px
      }
      .icono:hover {
        transform: scale(1.1);
        transition: 0.3s
      }
      .icono img {
        width: 50px;
        height: 50px;
        }

.andalucia {
  width: 40vw;
  height:50vh;
}


    footer {
      display: flex;
      flex-wrap: wrap;
      background-color:#DCE775;
      justify-content: space-around;
      align-items: center;
    }

.barrio {
        height: 150px;
        width: 300px;
        }
.contacto {
    font-size: 1rem;
}
